projectName: atlas
default:
  annotations:
    all:
      app: bulk-api
  labels:
    all:
      "app.kubernetes.io/part-of": bulk-api
  image:
    repository: "183295448290.dkr.ecr.ap-south-1.amazonaws.com/atlas/bulk-service"
    tag: "1224c17e39eaeb2cfd5ffdd6e0ada62d0ba6cd6c"
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 1024Mi
  externalSecrets:
    injection:
      secrets:
        - secretName: env
          dataFrom:
            secretKey: app/bulk-service
          refreshInterval: 30s
          secretStoreName: aws-secret-manager

deployments:
  - fullnameOverride: bulk-service-api
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/bulk-service-role"
    service:
      type: NodePort
      ports:
        - port: 8000
          name: api
          ingress:
            enabled: true
            annotations:
               kubernetes.io/ingress.class: alb
               alb.ingress.kubernetes.io/group.name: atlas
               alb.ingress.kubernetes.io/target-type: instance
               alb.ingress.kubernetes.io/scheme: internet-facing
               alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80},{"HTTPS": 443}]'
               alb.ingress.kubernetes.io/ssl-redirect: '443'
               alb.ingress.kubernetes.io/healthcheck-path: /api/docs/
               alb.ingress.kubernetes.io/healthcheck-timeout-seconds: '15'
               alb.ingress.kubernetes.io/healthcheck-interval-seconds: '300'
               alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-south-1:183295448290:certificate/9935b050-cc72-465d-9afa-9975803f6a3f
            rules:
            - host: bulk-api.dev.kreditmind.com
              http:
                paths:
                  - path: /*
                    pathType: ImplementationSpecific
                    backend:
                      service:
                        name: bulk-service-api
                        port:
                          number: 8000
    containers:
      - fullnameOverride: bulk-service-api
        port: 8000
        imagePullPolicy: Always
        command: ["gunicorn"]
        args: ["--workers", "3", "--bind", "0.0.0.0:8000", "app:app"]
        healthcheck:
          enabled: true
          livenessProbe:
            path: "/api/docs"
            initialDelaySeconds: 30
            periodSeconds: 30
          readinessProbe:
            path: "/api/docs"
            initialDelaySeconds: 30
            periodSeconds: 30

  - fullnameOverride: bulk-service-celery
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/bulk-service-role"
    containers:
      - fullnameOverride: bulk-service-celery
        imagePullPolicy: Always
        command: ["celery"]
        args: ["-A", "celery_app", "worker", "-Q", "uat-bulk-llm-service", "--concurrency=10", "--loglevel=info"]
