projectName: atlas
default:
  annotations:
    all:
      app: integration
  labels:
    all:
      "app.kubernetes.io/part-of": integration
  image:
    repository: "183295448290.dkr.ecr.ap-south-1.amazonaws.com/atlas/integration"
    tag: 0.0.0
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 1024Mi
  externalSecrets:
    injection:
      secrets:
        - secretName: env
          dataFrom:
            secretKey: app/integration
          refreshInterval: 30s
          secretStoreName: aws-secret-manager

deployments:
  - fullnameOverride: integrations
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    service:
      type: NodePort
      ports:
        - port: 8000
          name: api
          ingress:
            enabled: true
            annotations:
               kubernetes.io/ingress.class: alb
               alb.ingress.kubernetes.io/group.name: atlas
               alb.ingress.kubernetes.io/target-type: instance
               alb.ingress.kubernetes.io/scheme: internet-facing
               alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80},{"HTTPS": 443}]'
               alb.ingress.kubernetes.io/ssl-redirect: '443'
               alb.ingress.kubernetes.io/healthcheck-path: /health
               alb.ingress.kubernetes.io/healthcheck-timeout-seconds: '15'
               alb.ingress.kubernetes.io/healthcheck-interval-seconds: '300'
               alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:ap-south-1:183295448290:certificate/9935b050-cc72-465d-9afa-9975803f6a3f
            rules:
            - host: integrations.dev.kreditmind.com
              http:
                paths:
                  - path: /*
                    pathType: ImplementationSpecific
                    backend:
                      service:
                        name: integrations
                        port:
                          number: 8000
    containers:
      - fullnameOverride: integrations
        port: 8000
        imagePullPolicy: Always
        env:
          APP_MODE: "web"
        resources:
          requests:
            memory: 128Mi
        healthcheck:
          enabled: true
          livenessProbe:
            path: "/health"
            initialDelaySeconds: 10
            periodSeconds: 20
          readinessProbe:
            path: "/health"
            initialDelaySeconds: 10
            periodSeconds: 20
  
  - fullnameOverride: integrations-worker-callback-worker
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    containers:
      - fullnameOverride: integrations-worker-callback-worker
        imagePullPolicy: Always
        env:
          APP_MODE: "worker"
          CELERY_QUEUES: "uatenv-callback,uatenv-callback-failure"
          CELERY_CONCURRENCY: "5"
          CELERY_LOGLEVEL: "info"
        resources:
          requests:
            memory: 128Mi
  - fullnameOverride: integrations-worker-chat-notification-batch
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    containers:
      - fullnameOverride: integrations-worker-chat-notification-batch
        imagePullPolicy: Always
        env:
          APP_MODE: "worker"
          CELERY_QUEUES: "uatenv-chat-batch"
          CELERY_CONCURRENCY: "5"
          CELERY_LOGLEVEL: "info"
        resources:
          requests:
            memory: 128Mi
  - fullnameOverride: integrations-worker-chat-notification
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    containers:
      - fullnameOverride: integrations-worker-chat-notification
        imagePullPolicy: Always
        env:
          APP_MODE: "worker"
          CELERY_QUEUES: "uatenv-chat-notification"
          CELERY_CONCURRENCY: "5"
          CELERY_LOGLEVEL: "info"
        resources:
          requests:
            memory: 128Mi
          limits:
            memory: 1024Mi
  - fullnameOverride: integrations-worker-chat-post-proccessing
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    containers:
      - fullnameOverride: integrations-worker-chat-post-proccessing
        imagePullPolicy: Always
        env:
          APP_MODE: "worker"
          CELERY_QUEUES: "uatenv-chat-post-proccessing"
          CELERY_CONCURRENCY: "5"
          CELERY_LOGLEVEL: "info"
        resources:
          requests:
            memory: 128Mi
  - fullnameOverride: integrations-worker-llm-service
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    containers:
      - fullnameOverride: llm-service
        imagePullPolicy: Always
        env:
          APP_MODE: "worker"
          CELERY_QUEUES: "uatenv-llm-service"
          CELERY_CONCURRENCY: "5"
          CELERY_LOGLEVEL: "info"
        resources:
          requests:
            memory: 128Mi
  - fullnameOverride: integrations-worker-post-llm-worker
    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: "arn:aws:iam::183295448290:role/atlas-api-server-role"
    containers:
      - fullnameOverride: integrations-worker-post-llm-worker
        imagePullPolicy: Always
        env:
          APP_MODE: "worker"
          CELERY_QUEUES: "uatenv-file-validation,uatenv-urls-result"
          CELERY_CONCURRENCY: "5"
          CELERY_LOGLEVEL: "info"
# jobs:
#   - name: dbmigrate-job # required  
#     excludeSecretsFromDefault: true
#     serviceAccount:
#       create: false
#     annotations:
#       argocd.argoproj.io/hook: PreSync
#     containers:
#       - name: "dbmigrate-job" #required
#         env:
#           APP_MODE: "migration"
#         secrets:
#           injection:
#             - server-dbmigrate-env
#         resources:
#           requests:
#             memory: 512Mi
#           limits:
#             memory: 512Mi

